.form-reg{
	border:solid 1px #36c1c1;
	border-radius:3px;
	width:70%;
	margin: auto;
	margin-bottom: 70px;
	padding:15px;
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.form-reg input{
	display:block;
	margin:auto;
	padding:10px;
	margin-top:20px;
	border: solid 0.5px #dcdcdc;
	border-radius: 3px;
}

.form-reg input[type="submit"]{
	width: 339px;
	color:white;
	background-color: #34dddd;
	border:none;
	margin-bottom:10px;
}
.form-reg input[type="submit"]:hover{
	background-color:#209aa4;
}

.form-reg p{
	margin:0;
	color:red;
	font-size:11px;
	margin-left:25px;
	padding:2px;
}

.form-reg span{
	display:block;
	margin:auto;
	margin-top:10px;
	width:339px;
	text-align:center;
	color:grey;
	font-size:12px;
}