body {
	margin:0;
	font-family: "Verdana", sans;
}
.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav{
	padding:0;
}
.nav a {
    display: block;
    color: white;
    text-align: center;
	text-decoration: none;
}

.nav a:hover {
    background-color: #111;

	}
.intro {
	margin: 10px;
	border: solid 2px;
}

.intro div {
	text-align:center;
}


