body {
	background-color: #fffdf5;
	padding:0;
	margin:0;
	font-family: "Verdana", sans;
}

.row{
	margin:0;
}
.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fffdf5;
	border: none;
	border-bottom: solid #eaeaeb 0.5px;
}
.nav{
	padding:0;
}
.nav a {
    display: block;
    color: #a1aca3;
    text-align: center;
	text-decoration: none;
}

.nav a:hover {
    color: #4e342e;
	}
	
.nav a.active {
	color: #0fb287;
	border:none;
	border-bottom: solid #0fb287 0.5px;
}
.intro {
	margin: 10px;
	background-color: #eaded2;
}

.intro div {
	text-align:center;
}

.intro div h1{
	font-weight: bold;
	font-size: 40px;
	color: white;
}

.intro div p{
	font-size: 17px;
	color: white;
}
.kepala a{
	display:block;
	font-size:40px;
	text-align:center;
	text-decoration:none;
	color:white;
	margin-left:auto;
	margin-right:auto;
	text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey, 0 0 6px rgba(0,0,0,0.2); 
}

.a-decor{
	display:inline;
	text-decoration:none;
	color:blue;
}

.rememberme{
	display:inline-block;
	margin-left:40px;
	margin-bottom:15px;
	margin-top:8px;
	width:50%;
	font-size:15px;
}
.form-login{
	background-color:#fffdf5;
	margin-left:80px;
	width:70%;
	border: solid #819c9c 0.5px;
	border-radius:3px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}
.form-login input{
	display:block;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
}
.form-login input[type="submit"]{
	border:none;
	background-color:green;
	width:339px;
	padding:10px;
	margin: auto;
	color:white;
	border-radius:2px;
}
.form-login input[type="submit"]:hover{
	background-color:#209aa4;
	
}
.form-login input[type="checkbox"]{
	display:inline;
}
.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;	
}

.spacing {
	border-collapse: separate;
	border-spacing: 5px 10px;
}

.row table{
	margin-left:auto;
	margin-right:auto; 
	border-collapse:collapse;
}