body {
	background-color: #fffdf5;
	padding:0;
	margin:0;
	font-family: "Verdana", sans;
}
.row{
	margin:0;
}
.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fffdf5;
	border: none;
	border-bottom: solid #eaeaeb 0.5px;
}
.nav{
	padding:0;
}
.nav a {
    display: block;
    color: #a1aca3;
    text-align: center;
	text-decoration: none;
}

.nav a:hover {
    color: #4e342e;
	}
	
.nav a.active {
	color: #0fb287;
	border:none;
	border-bottom: solid #0fb287 0.5px;
}
.intro {
	margin: 10px;
	background-color: #eaded2;
}

.intro div {
	text-align:center;
}

.intro div h1{
	font-weight: bold;
	font-size: 40px;
	color: white;
}

.intro div p{
	font-size: 17px;
	color: white;
}
.kepala a{
	display:block;
	font-size:40px;
	text-align:center;
	text-decoration:none;
	color:aqua;
	margin-left:auto;
	margin-right:auto;
}

.a-decor{
	width:30%;
	text-decoration:none;
	color:blue;
	margin-left:auto;
	margin-right:auto;
}
.form-login{
	margin-left:80px;
	width:50%;
	border: solid 2px;
}


.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;	
}

.spacing {
	border-collapse: separate;
	border-spacing: 5px 10px;
}

.row table{
	margin-left:auto;
	margin-right:auto; 
	border-collapse:collapse;
}